<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About page</title>
</head>
<body>
    {{> header }}
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A illum in ipsa maxime mollitia, obcaecati quam? Accusantium commodi error perferendis. Eius, maxime odio? Esse molestiae natus nulla odit quisquam sint!</p>
    {{> footer }}
</body>
</html>