<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
    {{> header }}
    <h2>{{ screamIt welcomeMessage }}</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum exercitationem fugiat incidunt nisi quaerat sunt suscipit temporibus, vero? A debitis deserunt distinctio doloribus exercitationem hic nostrum numquam porro suscipit tempora?</p>
    {{> footer }}
</body>
</html>